.btn {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  color: white;
  background-color: indianred;
  border-radius: 25px;
  border: none;
  margin-top: 40px;
  cursor: pointer;
  outline: none;
}

.btn a {
  text-decoration: none;
  color: aliceblue;
}
